$basic-black: #404040;
$basic-white: #ffffff;
$dark-black: #000000;

$primary-brand-color-light: #ebc9c4;

$button-color: #cd9e29;
$button-color-hover: #efaf0d;

$text-color: #1c3f32;
$background-color: #ffffff;
