$basic-black: #404040;
$basic-white: #ffffff;
$dark-black: #000000;
$background-grey-color-darg: #d4d3cf;
$background-grey-color-light: #e3e2de;
$background-grey-color: #e1e2e3;
$primary-brand-color-dark: #faa196;
$primary-brand-color-light: #ebc9c4;
$secondary-brand-color-dark: #689572;
$secondary-brand-color-light: #82a289;
