@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin header-main-common-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  //padding-left: 3.5em;
}

@mixin button-common-style {
  margin-top: 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: #7843e9;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  text-transform: uppercase;
  align-self: center;
}

@mixin background-Radient-style {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("../assets/common-bg.svg");
}

@mixin heading-name-style {
  font-size: 3em;
  margin-bottom: 40px;
  text-align: center;
}

@mixin text-paragraph-style {
  margin: 0px 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}
