// About section

@use "../mixins" as *;
@use "../colors" as *;
@use "../typography" as *;

main {
  display: block;
  width: 100%;
  padding: 2em 0;
  background-color: $background-color;

  .main-container {
    @include header-main-common-style;
    background-color: $background-color;
    width: 100%;

    .main-heading {
      @include heading-name-style;
    }

    .main-subheading {
      @include text-paragraph-style;
    }
  }

  .about-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2em;
    margin: 0 auto;

    .about-left-section {
      background-color: $basic-white;

      .about-text p {
        font-size: 1.3rem;
        padding: 0px 40px;
        line-height: 1.7;
      }
      .margin-Bottom {
        margin-bottom: 40px;
      }
      .contact-link {
        @include button-common-style;
        display: flex;
        width: 100px;
        margin: 0 auto;
        justify-content: center;

        &:hover {
          @include button-hover-background-style;
        }
      }
    }
    .about-skill-right-section {
      h3 {
        font-size: 1.2em;
        margin: 0em 2em;
        color: $text-color;
        font-weight: bold;
      }

      .skills {
        display: flex;
        flex-wrap: wrap;
        margin: 2em;

        &__skill {
          @include skills-card-section;
          background: $text-color;
          color: $basic-white;
        }
      }
    }
  }
}
