// Contact section

@use "../mixins" as *;
@use "../colors" as *;
@use "../typography" as *;

.contact-wrapper {
  @include header-main-common-style;
  @include background-Radient-style;
  color: $basic-black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  margin-bottom: 20px;

  .contact-heading {
    @include heading-name-style;
  }

  .contact-logo {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 0.5em;

    .icons {
      color: $button-color;
      display: flex;
      justify-content: start;
      text-decoration: none;
      gap: 20px;

      &:hover {
        @include button-hover-style;
      }
    }

    .fa-brands {
      display: flex;
      align-items: center;
      margin: 10px 0px;
    }
  }
}
