@use "../mixins" as *;
@use "../colors" as *;
@use "../typography" as *;

.experience {
  @include header-main-common-style;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .experience-heading {
    @include heading-name-style;
    margin-top: 1em;
  }

  .card {
    display: flex;
    //@include header-main-common-style;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2em;
    //height: 1000px;
    border: 2px solid $button-color;
    border-radius: 10px;

    // Add 3D effect
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
      /* Inner shadow for depth */ 2px 2px 5px rgba(0, 0, 0, 0.2); /* Outer shadow for 3D effect */

    &:hover {
      box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3),
        /* Stronger inner shadow on hover */ 3px 3px 7px rgba(0, 0, 0, 0.3); /* Stronger outer shadow on hover */
    }

    .experience-left-section {
      //@include header-main-common-style;
      width: 63%;

      .experience-company-info {
        display: inline-flex;
        h4 {
          font-size: 1.2em;
          margin: 2em;
          text-decoration: underline;
          text-decoration-color: $button-color;
        }

        span {
          font-size: 1.2em;
          margin: 2em;
        }
      }
      .experience-client-info {
        h4 {
          font-size: 1em;
          margin: 2em;
          text-decoration: underline;
          text-decoration-color: $button-color;
        }

        p {
          font-size: 1.3rem;
          padding: 0px 40px;
          line-height: 1.7;
          //margin-bottom: 1em;
        }
      }
    }
    .experience-skill-right-section {
      //@include header-main-common-style;
      width: 30%;

      h4 {
        font-size: 1.2em;
        margin: 2em;
      }

      .skills {
        display: flex;
        flex-wrap: wrap;

        &__skill {
          @include skills-card-section;
          background: $button-color;
          color: $basic-white;
        }
      }
    }
  }
}
