// Footer

@use "../mixins" as *;
@use "../colors" as *;
@use "../typography" as *;

footer {
  .footer-content {
    @include flex-center;
    flex-direction: column;
    background-color: $dark-black;
    color: $basic-white;
    border-radius: 5px;

    .footer-logo {
      @include flex-center;
      margin-top: 10px;
    }

    hr {
      width: 100%;
      border: 1px solid $button-color;
      margin: 1em 0;
    }
    .footer-text {
      font-size: 12px;
    }
    .icons {
      color: $basic-white;
      text-decoration: none;
      font-size: 26px;
      margin: 0px 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        @include button-hover-style;
      }
    }
  }
}
