// Nav bar styles

@use "../colors" as *;

.nav {
  //border-bottom: 1px solid $dark-black;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  top: -0px;
  position: sticky;
  z-index: 100;
  background-color: $basic-white;

  &__link {
    text-decoration: none;
    color: $button-color;
    transition: color 0.3s;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 20px;

    i {
      padding-right: 20px;
    }
  }
  &__link:hover {
    color: $button-color-hover;
  }
}
