// Nav bar styles

@use "../colors" as *;
@use "../mixins" as *;

.navbar {
  font-size: 16px;
  background-color: $basic-white;

  .navbar-brand {
    font-weight: 600;
    font-size: 1.2em;
    font-weight: bold;
    color: $button-color;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    text-decoration: none;
    @include button-text-style;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 20px;

    &:hover {
      @include button-hover-style;
    }

    &:active, &:focus {
      color: $button-color;
      border-bottom: 2px solid $button-color;
    }
  }

  .navbar-toggler {
    color: $button-color;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;

    i {
      @include button-text-style;

      &:hover {
        @include button-hover-style;
      }
    }
  }
}
