@use "../mixins" as *;
@use "../colors" as *;
@use "../typography" as *;

.projects {
  @include header-main-common-style;
  @include background-Radient-style;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .project-heading {
    @include heading-name-style;
    margin-top: 1em;
  }

  .card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2em;
    border: 2px solid $button-color;
    border-radius: 10px;

    // Add 3D effect
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
      /* Inner shadow for depth */ 2px 2px 5px rgba(0, 0, 0, 0.2); /* Outer shadow for 3D effect */

    &:hover {
      box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3),
        /* Stronger inner shadow on hover */ 3px 3px 7px rgba(0, 0, 0, 0.3); /* Stronger outer shadow on hover */
    }

    .project-left-section {
      h4 {
        font-size: 1.3em;
        margin: 2em;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $button-color;
        color: $text-color;
      }

      p {
        font-size: 1.1rem;
        padding: 0px 40px;
        line-height: 1.7;
      }
    }
    .projects-links {
      margin-left: 15px;
    }
    .project-link {
      @include button-common-style;
      display: inline-block; // Ensure the button behaves as a block-level element
      // margin: 2em 0em 2em 2em;
      margin: 1em;

      &:hover {
        @include button-hover-background-style;
      }
    }

    .project-skill-right-section {
      h4 {
        font-size: 1.2em;
        margin: 2em;
        font-weight: bold;
        color: $text-color;
      }

      .skills {
        display: flex;
        flex-wrap: wrap;
        margin: 0em 2em;

        &__skill {
          @include skills-card-section;
          background: $text-color;
          color: $basic-white;
        }
      }
    }
  }
}
