@use "./scss/colors" as *;
@use "./scss/mixins" as *;
@use "./scss/typography" as *;
@use "./scss/sections/navbar.scss";
@use "./scss/sections/header.scss";
@use "./scss/sections/about.scss";
@use "./scss/sections/contact.scss";
@use "./scss/sections/projects.scss";
@use "./scss/sections/experience.scss";
@use "./scss/sections/footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $background-color;
  font-family: $font-family;
}

html {
  scroll-padding-top: 60px; // Adjust this value to match your navbar's height
}
