.nav {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  top: 0px;
  position: sticky;
  z-index: 100;
  background-color: #ffffff;
}
.nav__link {
  text-decoration: none;
  color: #cd9e29;
  transition: color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px 20px;
}
.nav__link i {
  padding-right: 20px;
}
.nav__link:hover {
  color: #efaf0d;
}

header {
  display: flex;
  width: 100%;
  height: 400px;
}
header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../assets/common-bg.svg");
}
header .header-container .header-name {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}
header .header-container .header-text {
  margin: 0px 40px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
}
header .header-container .project-link {
  margin-top: 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #cd9e29;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  text-transform: uppercase;
  align-self: center;
}

main {
  display: block;
  width: 100%;
  padding: 2em 0;
  background-color: #ffffff;
}
main .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #ffffff;
  width: 100%;
}
main .main-container .main-heading {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}
main .main-container .main-subheading {
  margin: 0px 40px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
}
main .about-section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2em;
}
main .about-section-wrapper .about-left-section {
  background-color: #ffffff;
  width: 50%;
}
main .about-section-wrapper .about-left-section h3 {
  font-size: 1.2em;
  margin: 2em;
}
main .about-section-wrapper .about-left-section .about-text p {
  font-size: 1.3rem;
  padding: 0px 40px;
  line-height: 1.7;
}
main .about-section-wrapper .about-left-section .margin-Bottom {
  margin-bottom: 40px;
}
main .about-section-wrapper .about-left-section .contact-link {
  margin-top: 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #cd9e29;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  text-transform: uppercase;
  align-self: center;
  margin-left: 2em;
}
main .about-section-wrapper .about-skill-right-section {
  width: 40%;
}
main .about-section-wrapper .about-skill-right-section h3 {
  font-size: 1.2em;
  margin: 2em;
}
main .about-section-wrapper .about-skill-right-section .skills {
  display: flex;
  flex-wrap: wrap;
}
main .about-section-wrapper .about-skill-right-section .skills__skill {
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5em 0.9em;
  background: #cd9e29;
  color: #ffffff;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../assets/common-bg.svg");
  color: #404040;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4rem;
  border-radius: 5px;
  align-items: center;
}
.contact-wrapper h1 {
  font-size: 2.5em;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 65%;
  padding: 2em;
}
form h3 {
  font-size: 2.5rem;
  color: #404040;
}
form .form-group {
  width: 90%;
  margin-bottom: 1.5em;
}
form .form-group label {
  display: block;
  font-size: 1.2rem;
  color: #404040;
  margin-bottom: 0.5em;
}
form .form-group input,
form .form-group textarea {
  width: 90%;
  padding: 1em;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: none;
}
form .form-group textarea {
  height: 150px;
  resize: vertical;
  border: none;
  background-color: #f0f0f0;
}
form .form-group button {
  margin-top: 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #cd9e29;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  text-transform: uppercase;
  align-self: center;
}
form .form-group button:hover {
  background-color: #ebc9c4;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../assets/common-bg.svg");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project-heading {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 1em;
}
.projects .card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2em;
  border: 2px solid #cd9e29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2); /* Outer shadow for 3D effect */
}
.projects .card:hover {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3), 3px 3px 7px rgba(0, 0, 0, 0.3); /* Stronger outer shadow on hover */
}
.projects .card .project-left-section {
  width: 60%;
}
.projects .card .project-left-section h4 {
  font-size: 1.2em;
  margin: 2em;
  text-decoration: underline;
  text-decoration-color: #cd9e29;
}
.projects .card .project-left-section p {
  font-size: 1.3rem;
  padding: 0px 40px;
  line-height: 1.7;
}
.projects .card .project-skill-right-section {
  width: 30%;
}
.projects .card .project-skill-right-section h4 {
  font-size: 1.2em;
  margin: 2em;
}
.projects .card .project-skill-right-section .skills {
  display: flex;
  flex-wrap: wrap;
}
.projects .card .project-skill-right-section .skills__skill {
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5em 0.9em;
  background: #cd9e29;
  color: #ffffff;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience .experience-heading {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 1em;
}
.experience .card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2em;
  border: 2px solid #cd9e29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2); /* Outer shadow for 3D effect */
}
.experience .card:hover {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3), 3px 3px 7px rgba(0, 0, 0, 0.3); /* Stronger outer shadow on hover */
}
.experience .card .experience-left-section {
  width: 63%;
}
.experience .card .experience-left-section .experience-company-info {
  display: inline-flex;
}
.experience .card .experience-left-section .experience-company-info h4 {
  font-size: 1.2em;
  margin: 2em;
  text-decoration: underline;
  text-decoration-color: #cd9e29;
}
.experience .card .experience-left-section .experience-company-info span {
  font-size: 1.2em;
  margin: 2em;
}
.experience .card .experience-left-section .experience-client-info h4 {
  font-size: 1em;
  margin: 2em;
  text-decoration: underline;
  text-decoration-color: #cd9e29;
}
.experience .card .experience-left-section .experience-client-info p {
  font-size: 1.3rem;
  padding: 0px 40px;
  line-height: 1.7;
}
.experience .card .experience-skill-right-section {
  width: 30%;
}
.experience .card .experience-skill-right-section h4 {
  font-size: 1.2em;
  margin: 2em;
}
.experience .card .experience-skill-right-section .skills {
  display: flex;
  flex-wrap: wrap;
}
.experience .card .experience-skill-right-section .skills__skill {
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5em 0.9em;
  background: #cd9e29;
  color: #ffffff;
}

footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 2em;
}
footer .footer-content .linkedIn-icon {
  color: #ffffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #1c3f32;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-padding-top: 80px;
}

/*# sourceMappingURL=style.css.map */
