@use "./scss/colors" as *;
@use "./scss/mixins" as *;
@use "./scss/typography" as *;
@import "./scss/sections/navbar.scss";
@import "./scss/sections/header.scss";
@import "./scss/sections/about.scss";
@import "./scss/sections/contact.scss";
@import "./scss/sections/projects.scss";
@import "./scss/sections/footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//   display: flex;
//   flex-direction: column;
// }
